@import './assets/sass/utils/mixins';

@font-face {
	font-family: 'normalWH';
	src: url('../font/Roobert-Bold.778709e9.woff2');
	font-weight: normal;
}

::-webkit-scrollbar {
	background-color: #000;
	cursor: grab;
	width: 11px;
}

/* Track */
::-webkit-scrollbar-track {
	/* border-radius: 10px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #181818;
	border: 1px solid #000;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #A32CC4;
}

html,
* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #D9D9D9;
	/* color: #000; */
	overflow-x: hidden;
	transition: 1s;
	font-family: 'normalWH', sans-serif;
	// cursor: none;
}

section {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	overflow: hidden;
	align-items: center;
	width: 100vw;
}

.sidebar {
	width: 5%;
	height: 100vh;
	position: fixed;
	align-items: flex-end;
	z-index: 100;
	border-right: 1px solid #00000090;
	font-family: 'normalWH', sans-serif;
	@include down-768  {
		display: none;
	}
	@include down-568  {
		display: none;
	}
}

.sidebar .socials {
	position: absolute;
	top: 5%;
	left: 0;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
	color: #000;
}

.sidebar .socials i {
	cursor: pointer;
}

.main {
	margin: 0 0 0 auto;
	width: 95%;
	overflow: hidden;
	color: #fff;
	font-family: 'normalWH', sans-serif;
	@include down-768 {
		width: 100%;
	}
	@include down-568 {
		width: 100%;
	}
}

/*.d-flex{
	 display: flex;
	 justify-content: space-between;
	 align-items: flex-start;
}
*/
.navigation {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	padding: 20px 60px;
}

/* background-color: red;
 */
.logo img {
	margin-top: -10px;
}

.logo .title {
	margin: 10px 10px;
	font-size: 20px;
	font-weight: bolder;
}

.sidebar .para {
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-90deg);
	width: 200PX;
	font-size: 12px;
	font-weight: 500 !important;
	/* opacity: 0.5; */
	color: #000;
}

.sidebar .progress {
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(90deg);
	width: 200px;
	height: 2px;
	background-color: #00000030;
}

.sidebar .progress .bar {
	width: 0%;
	height: 2px;
	background-color: #3b4bdd;
}

/* .contents {
	 width: 93%;
	 height: 100%;
	 margin: 0 0 0 auto;
	 position: relative;
	 height: 100vh;
	 background-color: #d9d9d9 d9;
	 border-right: 1px solid #000 30;
	 border-left: 1px solid #000 30;
} */
.main .line {
	position: fixed;
	top: 0;
	width: 1px;
	transform: rotate(-180deg);
	height: 100vh;
	background-color: #00000090;
	z-index: 1;
}

.line-1 {
	left: 20%;
}

.line-2 {
	left: 40%;
}

.line-3 {
	left: 60%;
}

.line-4 {
	left: 80%;
}

.section-one {
	height: 63vh;
	position: relative;
	color: #000;
	@include down-1600 {
		height: 20vh;
	}
	@include down-768 {
		height: 20vh;
	}
	@include down-568 {
		height: 50vh;
	}
}

.section-one .titleHeaders {
	width: 80%;
	position: absolute;
	top: 54%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	z-index: 100;
	text-transform: uppercase;

	@include down-568 {
		top: 60%;
		left: 45%;
	}
}

.section-one .titleHeaders .Title {
	font-size: 75px;
	font-weight: bolder;
	line-height: .8;
	letter-spacing: 0.001px;
	color: #000;
	text-transform: uppercase;

	@include up-1400 {
		font-size: 90px;
	}

	@include down-568 {
		font-size: 50px;
	}
}

.section-one .titleHeaders .Title .h1 {
	overflow: hidden;
}

.section-one .titleHeaders .Title .h1>span {
	display: inline-block;
	transform: translateY(0%);
	transition: .5s;
}

.section-one .titleHeaders .Title>.blue {
	color: #3b4bdd;
	margin-top: 10px;
	/* margin: 0 60px; */
}

.section-one .titleHeaders .Para {
	text-transform: uppercase;
	font-size: 14px !important;
	/* text-transform: capitalize; */
	margin: -100px 150px 0 0;

	@include up-1400 {
		font-size: 18px !important;
		margin: -100px 220px 0 0;
	}
	@include down-768 {
		margin: -100px 20px 0 0;
	}
	@include down-568 {
		display: none;
	}
}

.section-one .titleHeaders .Para .header {
	font-weight: 700;
	width: 240px;
	overflow: hidden;

	@include up-1400 {
		width: 300px;
	}
}

.section-one .titleHeaders .Para .body {
	font-weight: 200;
	color: #00000070;
	margin-top: 15px;
	width: 250px;
	overflow: hidden;

	@include up-1400 {
		width: 320px;
	}
}

.section-one .titleHeaders .Para .body>span,
.section-one .titleHeaders .Para .header>span {
	display: inline-block;
	transform: translateY(0%);
}

.section-one .titleHeaders .disc {
	font-size: 14px;
	color: #fff;
	width: 410px;
	line-height: 1.3;
	margin-top: 30px;
	font-weight: 400;
	overflow: hidden;

	@include down-568 {
		width: 100%;
	}
}

.section-one .titleHeaders .disc>span {
	display: inline-block;
}

.btn_opensea {
	position: absolute;
	top: 70%;
	left: 70%;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	background-color: #A32CC4;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
	text-transform: uppercase;
	cursor: pointer;
	color: #fff;

	@include down-568 {
		width: 80px;
		height: 80px;
		font-size: 14px;
		top: 80%;
		left: 70%;
	}
}

.btn_opensea::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 150px;
	height: 150px;
	border: 2px solid #A32CC4;
	border-radius: 100%;
	transition: .5s;
	opacity: 1;

	@include down-568 {
		width: 110px;
		height: 110px;
	}
}

.btn_opensea:hover::after {
	width: 80px;
	height: 80px;
	transition: .5s;
	opacity: 0.5;
}

.section-two {
	position: relative;
	z-index: 3;
	height: 100vh;
	@include up-1400 {
		margin-top: auto;
		margin-top: -44vh;
	}
	@include down-1400 {
		margin-top: auto;
		margin-top: -45vh;
	}
	@include down-992 {
		margin-top: auto;
		margin-top: -45vh;
	}
	@include down-768 {
		margin-top: auto;
		margin-top: -45vh;
	}
	@include down-568 {
		margin-top: auto;
		margin-top: -40vh;
	}
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* background-color: #3b4bdd; */
	z-index: 1;

	@include down-568 {
		height: 100vh;
		width: 100vw;
	}
}

.container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
}

/* .container::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #00000024;
	z-index: 2;
} */
.panel {
	scroll-snap-type: x mandatory;
	width: 100vw;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	flex: none;
	justify-content: space-between;
}

.panel .ee {
	width: 500px;
	color: #d9d9d9;
	width: 700px;
	height: 100vh;
	scroll-snap-align: start;
}



#container,
#container1 {
	/* background-color:grey; */
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 100vw;
	height: 100vh;

}

.wp {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 3;
	background-color: #00000070;

	@include down-568 {
		width: 110%;
		height: 100vh;
		background-color: none;

		&:nth-child(3) {
			width: 300px;
			padding-right: 70px;
		}

		&:nth-child(2) {
			width: 300px;
			padding-right: 0px;
		}
	}
}

.wp1 {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 3;

}

.wp::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #00000024;
	z-index: 2;

	@include down-568 {
		display: none;
	}
}

.panel-2 div {
	display: block;
	padding: auto;
}

.panel-2 h2 {
	font-size: 40px;
	text-transform: uppercase;
	margin-bottom: 40px;

	@include down-568 {
		font-size: 20px;
		width: 100%;
	}
}

.panel-2 h2>span {
	color: #9BF20D;
}

.panel-2 .header {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 10px;

	@include down-568 {
		font-size: 18px;
		width: 100%;
	}
}

.panel-2 .para {
	width: 450px;
	opacity: 0.7;
	text-transform: capitalize;
	font-size: 16px;
	margin-bottom: 20px;
	font-weight: 200;
	line-height: 1.2em;

	@include down-568 {
		font-size: 16px;
		width: 100%;
	}
}

.panel-2 ul {
	text-transform: uppercase;
	font-size: 14px;
	list-style: none;

	@include down-568 {
		width: 100%;
	}
}

.panel-2 ul>li {
	margin-top: 10px;
	position: relative;
	margin-left: 20px;
}

.panel-2 ul>li::before {
	content: "";
	position: absolute;
	left: -20px;
	top: 50%;
	transform: translateY(-50%);
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #9BF20D;
}

.panel-3 .descriptions {
	display: flex;
	justify-content: space-between;
	width: 60%;
	min-height: 40%;

	@include down-568 {
		width: 100%;
		display: block;
	}

}

.panel-3 .descriptions .item {
	width: 100%;
	height: 100%;
	padding: 0 30px;
}

.panel-3 .descriptions .item:last-child {
	margin-top: 50px;
}

.panel-3 .descriptions .item .header {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 700;

	@include down-568 {
		font-size: 20px;
	}
}

.panel-3 .descriptions .item .paragraph {
	margin-top: 20px;
	font-size: 18px;
	opacity: 0.7;

	@include down-568 {
		font-size: 16px;
	}
}

.panel-4 .item .header {
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
	margin-left: 30px;
	margin-bottom: 30px;

	@include down-568 {
		margin-right: 100px;
		width: 70%;
		font-size: 20px;
		margin-bottom: 20px;
	}
}

.panel-4 .item .header::before {
	content: '';
	position: absolute;
	top: 45%;
	left: -30px;
	transform: translateY(-50%);
	width: 25px;
	height: 5px;
	border-radius: 100px;
	background-color: #9BF20D;
}

.panel-4 .item .roadmap {
	list-style: none;
}

.panel-4 .item .roadmap .list {
	background-color: #03045E30;
	padding: 15px;
	margin-top: 7px;
	border: 2px solid #03045E;
	min-width: 2rem;
	display: table;
	opacity: 0.5;

	@include down-568 {
		font-size: 12px;
		padding: 5px;
		width: 70%;
	}
}

.panel-4 .item .roadmap .list .data {
	display: flex;
	align-items: center;

	@include down-568 {
		// width: 50%;
	}
}

.panel-4 .item .roadmap .list .data .title {
	margin-left: 15px;

	@include down-568 {
		margin-left: 5px;
		width: auto;
	}
}

.panel-4 .item .roadmap .list .data i {
	font-size: 20px;

	@include down-568 {
		font-size: 14px;
	}
}

.panel-4 .item .roadmap .list .data .fa-info-circle {
	display: block;
}

.panel-4 .item .roadmap .list .data .fa-check-circle {
	display: none;
}

.panel-4 .item .roadmap .list.active {
	opacity: 1;
}

.panel-4 .item .roadmap .list.active .data .fa-info-circle {
	display: none;
}

.panel-4 .item .roadmap .list.active .data .fa-check-circle {
	display: block;
}

.galleryDark {
	background-color: #181818 !important;
	transition: 0.5s;
	color: #fff;
}

.galleryDark .sidebar .socials,
.galleryDark .sidebar .para {
	color: #fff;
}

.galleryDark .sidebar .progress,
.galleryDark .line {
	background-color: #ffffff50;
}

.galleryDark .sidebar {
	border-right: 1px solid #ffffff70;
}

.teamLight {
	transition: 0.5s;
	background-color: pink !important;
}

.teamLight .sidebar .socials,
.teamLight .sidebar .para {
	color: #181818 !important;
}

.teamLight .sidebar .progress,
.teamLight .line {
	background-color: #18181830;
}

.teamLight .sidebar {
	border-right: 1px solid #18181830;
}

.galleryDefault {
	position: relative;
	height: auto;
	display: block;
}

.container_galley {
	width: 70%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;

	@include down-568 {
		flex-direction: column;
	}
}

.galleryDefault .sectionName {
	font-size: 64px;
	font-weight: bold;
	/* width: 70%; */
	margin: 10% 0 0 10%;
	text-transform: uppercase;

	@include down-568 {
		font-size: 40px;
	}
}

.container_galley .items {
	display: block;
	z-index: 100;
	width: 45%;

	@include down-568 {
		width: 100%;
	}
}

.container_galley .items:nth-child(1) {
	margin-top: 20px;

}

.container_galley .items:nth-child(2) {
	margin-top: 200px;

	@include down-568 {
		margin-top: -255px;
	}
}

.container_galley .items img {
	width: 100%;
	margin-top: 35px;
}

.actionMore {
	position: absolute;
	top: 10%;
	right: 17%;
	left: auto;
	font-weight: bolder;
	@include down-568{
		display: none;
	}
}

.actionTitleShowMore {
	color: #9BF20D;
	font-size: 25px;
	position: absolute;
	left: 00%;
	bottom: -2%;
	text-transform: uppercase;
	font-weight: 600;
	cursor: pointer;
	width: 100%;

	@include down-568 {
		bottom: -5%;
	}
}

.sectionTeam {
	z-index: 100;
	@include down-768 {
		margin-top: -400px;
	}
	@include down-568 {
		margin-top: -120px;
	}
}

.sectionTeam .sectionName {
	font-size: 64px;
	font-weight: 750;
	letter-spacing: -5px;
	margin: -30% 0 0 10% !important;
	text-transform: uppercase;
	color: #181818;

	@include down-568 {
		margin: 0;
		margin: -100% 0 0 40% !important;
		font-size: 40px;
		width: 110%;
		display: flex;
	}
}

.team {
	width: 80%;
	height: 80%;
	position: relative;
	display: flex;
	align-items: flex-end;

	@include down-568 {
		margin-right: 100px;
		width: 60%;
	}
}

.team img {
	width: 200px;
	height: 250px;
	object-fit: cover;
	filter: grayscale(100%);

	@include up-1400 {
		width: 300px;
		height: 350px;
	}
}

.team .item {
	position: relative;
	@include up-1200 {
		width: 350px;
	}
	@include down-992 {
		width: 350px;
	}
	@include down-768 {
		width: 350px;
	}
	@include down-568 {
		width: 300px;
	}
}

.team .information {
	position: absolute;
	top: 55%;
	right: 0;
	left: auto;
	min-width: 200px;
	@include up-1200 {
		right: auto;
		left: 40%;
	}
	@include down-1200 {
		right: auto;
		left: 40%;
	}
	@include down-992 {
		right: auto;
		left: 40%;
	}
	@include down-768 {
		right: auto;
		left: 40%;
	}
	@include down-568 {
		right: auto;
		min-width: 250px;
		left: 50%;
		width: 100%;
	}

	@include up-1400 {
		right: -40%;
	}
}

.team .name {
	font-size: 30px;
	text-transform: uppercase;
	color: #000;
	font-weight: 700;
}

.team .descriptions {
	font-size: 18px;
	text-transform: uppercase;
	color: #03045E;
	font-weight: 700;
	min-width: 175px;
}

.transform-y {
	transform: translateY(-500px);
}

.cursor {
	position: absolute;
	background-color: #000;
	width: 6px;
	height: 6px;
	border-radius: 100%;
	z-index: 10000;

}

._cursor {
	position: absolute;
	background-color: #fff;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	z-index: 10000;
}

._cursor_follower {
	position: absolute;
	background-color: #ffffff70;
	filter: blur(1px);
	width: 40px;
	height: 40px;
	border-radius: 100%;
	transform: translate(-35%, -35%);
	z-index: 1999;
}

.cursor-follower {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.3);
	width: 20px;
	height: 20px;
	border-radius: 100%;
	z-index: 1;
	transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
		0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
	user-select: none;
	pointer-events: none;
	z-index: 10000;
	// transform: translate(-50%, -50%);

	&.active {
		opacity: 0.7;
		transform: scale(3);
	}

	&.hovered {
		opacity: 0.08;
	}
}



// @include up-1400 {
// 	.section-one {
// 		height: 23vh ;
// 		position: relative;
// 	}

// 	.section-two {
// 		position: relative;
// 		margin-top: -400px;
// 		z-index: 3;
// 	}
// }